*{
    padding: 0;
    margin: 0;
}

.controlers__div {
    padding : 0 5%
}
#score {
    padding-top: 20%;
}

.controlers__btn{
    padding: 3px;
    margin:2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 5px gray;
}

.controlers__btn:active {
    box-shadow: none;
}
.controlers_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.main_container {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: column;
    
}

@media (max-width : 900px) {
    .row_case_inactive {
        height: 15px;
        width: 15px;
        background-color: black;
    }
    
}

@media (max-width : 600px) {
    .row_case_inactive {
        height: 10px;
        width: 10px;
        background-color: black;
    }
    
}

@media (max-width : 400px) {
    .row_case_inactive {
        height: 5px;
        width: 5px;
        background-color: black;
    }
    
}

@media (min-width : 900px) {
    .row_case_inactive {
        height: 20px;
        width: 20px;
        background-color: black;
    }
    
}

.row_case_active {
    background-color: white;
}

.pomme {
    background-color: rgb(119, 34, 34);
}
